*,
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body {
    background-color: rgb(177, 177, 177) !important
}
.capt{
    color: white;
    text-shadow: 1px 1px 5px #212529;
}
.top-product-img{
    transition: 0.3s;
}
.top-product-img:hover{
    filter: brightness(0.8);
    transform: scale(1.05);
    transition: 0.3s;
}
